@import url('shared.css');

section .formbox h2 {
    color: var(--secondary-color);
    border-bottom: 4px solid var(--primary-color);
}

section .inputbox span,
section .remember,
section .inputbox p {
    color: var(--secondary-color);
}

section .inputbox input {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

section .inputbox input[type="submit"] {
    background: var(--background-color);
}

section .inputbox input[type="submit"]:hover {
    background: var(--hover-color);
}

section .inputbox p a {
    color: var(--background-color);
}

@media (max-width: 768px) {
    section .contentbox .formbox {
        background: rgba(255, 255, 255, 0.9);
    }
}