body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    background-color: rgb(21, 119, 206);
    padding: 10px;
    text-align: center;
}

nav h1 {
    color: white;
}

.container {
    display: flex;
    flex: 1;
}

aside {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

main {
    flex: 1;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, button {
    display: block;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.active-status {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

.active-status input {
    margin-right: 5px;
}

#update-is_active {
    justify-content: center;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto; /* Adjust height as needed */
    margin: auto; /* Center horizontally */
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Optional: Adds a background overlay */
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Adjust as needed */
}

.modal-content input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.modal-content button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}