@import url('shared.css');

section .contentbox {
    background: var(--black);
}

section .contentbox .formbox h2 {
    color: var(--white);
    border-bottom: 4px solid var(--yellow);
}

section .contentbox .formbox .inputbox span,
section .contentbox .formbox .remember,
section .contentbox .formbox .inputbox p {
    color: var(--white);
}

section .contentbox .formbox .inputbox input {
    border: 1px solid var(--white);
    color: var(--white);
}

section .contentbox .formbox .inputbox input[type="submit"] {
    background: var(--dark-gray);
}

section .contentbox .formbox .inputbox input[type="submit"]:hover {
    background: var(--light-gray);
}

section .contentbox .formbox .inputbox p a {
    color: var(--light-yellow);
}

section .imgbox:before {
    background: linear-gradient(to right, var(--gradient-start-alt), var(--gradient-end-alt));
}

@media (max-width: 768px) {
    section .contentbox {
        background: none;
    }
    section .contentbox .formbox {
        background: rgba(0, 0, 0, 0.9);
    }
    section .contentbox img {
        content: url(images/PNA.png);
    }
}