* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgbox {
    position: relative;
    width: 50%;
    height: 100%; 
    animation: fade-in-left 1s;
}

section .imgbox:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2980b9;
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
    background: linear-gradient(to right, #2c3e50, #2980b9);

    z-index: 1;
    mix-blend-mode: screen;
}

section .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentbox {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade-in-right 1.5s;
}

section .contentbox img {
    width: 300px;  
    margin-bottom: -20px; 
}

section .contentbox .formbox {
    width: 50%;
}

section .contentbox .formbox h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #77d6ff;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentbox .formbox .inputbox {
    margin-bottom: 20px;
}

section .contentbox .formbox .inputbox span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}

section .contentbox .formbox .inputbox input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

section .contentbox .formbox .inputbox input[type="submit"] {
    background: #4bbbea;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentbox .formbox .inputbox input[type="submit"]:hover {
    background: #50acd3;
}

section .contentbox .formbox .remember {
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}

section .contentbox .formbox .inputbox p {
    color: #607d8b;
}

section .contentbox .formbox .inputbox p a {
    color: #4bbbea;
}

@media (max-width: 768px) {
    section .imgbox {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    section .contentbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentbox .formbox {
        width: 100%;
        padding: 40px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
    }
}
